name: Kook.Net Packages

on:
  workflow_call:
    secrets:
      NUGET_API_KEY:
        description: 'NuGet API Key'
        required: true
      GITHUB_PACKAGES_KEY:
        description: 'GitHub API Key'
        required: true

jobs:
  push_packages:
    name: Push Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', 'Kook.Net.targets') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Generate Packages
        run: dotnet pack --configuration Release --output packages

      - name: Push Packages to NuGet
        run: dotnet nuget push ./packages/*.nupkg -k ${{ env.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

      - name: Push Packages to Github
        run: dotnet nuget push ./packages/*.nupkg -k ${{ env.GITHUB_PACKAGES_KEY }} -s https://nuget.pkg.github.com/gehongyan/index.json --skip-duplicate
        env:
          GITHUB_PACKAGES_KEY: ${{ secrets.GITHUB_PACKAGES_KEY }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Packages
          path: ./packages/
